header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 1%, 79%, 0.673);
    border-bottom: 2px solid gray;
    font-size: 25px;
    font-weight: 600;
}