<main>
   <div class="task">
        <div class="task-cenzor tasks">
            <img src="../../../assets/img/cenzor.jpg" class="image-1" alt="cenzor">
            <a [routerLink]="['/works/cenzor']">Angular cenzor</a>
        </div>
        <div class="task-user tasks">
            <img src="../../../assets/img/user-task.jpg" class="image-3" alt="cenzor">
            <a [routerLink]="['/works/user-list']">Angular user list</a>
        </div>
        <div class="task-list tasks">
            <img src="../../../assets/img/task.jpg" class="image-2" alt="cenzor">
            <a [routerLink]="['/works/task-list']">Angular task list</a>
        </div>
   </div>
</main>
